.mytunes-post-entry {
    margin-bottom: 1em;
    /*border: 1px solid lightseagreen;*/
}
.mytunes-post-box {
    border: 1px solid lightseagreen;
    /*margin: 0;*/
    /*padding: 0;*/
    min-height: 2em;
}
.mytunes-title-box {
    background: lightseagreen;
    padding-top: .5em;
}
.mytunes-content-box {
    padding-top: .5em;
}
.mytunes-detail-box {
    /*display: none;*/
    /*margin-bottom: 2em;*/
    padding: 0 .5em 0em .5em;
    border: 1px solid lightseagreen;
}
.mytunes-detail-box table { margin-bottom: 0; }
.mytunes-detail-box li { margin-left: 1em; }
.mytunes-detail-box small:hover { color: lightseagreen }

.mytunes-detail-btn {
    margin: auto;
    text-decoration: none;
    height: .5em;
    width: 2em;
    border-bottom: 1px solid seagreen;
    border-right: 1px solid seagreen;
    border-left: 1px solid seagreen;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.mytunes-detail-btn a {
    /*width: 100%;*/
    /*background: black;*/
}
a {
    /*width: 100%;*/
}
.mytunes-detail-btn:hover {
    text-decoration: none;
    background: lightseagreen;
    cursor:pointer;
}
.mytunes-detail-btn:hover {
    /*background: lightseagreen;*/
}
mytunes-title-box h4 {
    margin-bottom: 0;
}



/* https://wptheming.com/2015/02/styling-posts-pagination/ */
/* See this for styling info for pagination  */
a.prev.page-numbers,
a.next.page-numbers{
    font-size: 1rem;
}

.mytunes-filter-form {
    border: 1px solid lightseagreen;
    padding: 1em;
    margin-bottom: 1em;
}


/*.page-numbers {*/

    /*display: inline-block;*/

    /*padding: 5px 10px;*/

    /*margin: 0 2px 0 0;*/

    /*border: 1px solid #eee;*/

    /*line-height: 1;*/

    /*text-decoration: none;*/

    /*border-radius: 2px;*/

    /*font-weight: 600;*/

/*}*/

/*.page-numbers.current,*/

/*a.page-numbers:hover {*/

    /*background: blue;*/

/*}*/
